body{
  background-image: url("images/images.jpeg");
  background-size: cover;
  background-attachment: fixed;
}
.img{
  opacity: 0.8;
  margin-top: 35px;
}
.container{
  margin-top: 50px;
  margin-bottom: 50px;
  }
.accueil{
  height: auto;
  text-align: center;
  padding-bottom: 20px;
  }
  .nav{
    padding : auto;
  }
  .menu{
  padding-bottom: 20px;
  }
  .menu1, li{
    margin-left: 60px;
    margin-right: auto;
  }
li{
margin-left: 80px;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
}
h1, h2, a{
    font-family: 'lobster', cursive;/*police importé*/
    color: white;
}
.panel h4{
  font-family: arial;
}
p{
  font-size: 15px;
  color : white;
}
a{
  color: white;
}
a:hover{
  color: black;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;/*taille des images défilantes*/
      margin: auto;
  }
  #myCarousel{
    width: 90%;/*taille caroussel*/
  }
  .manege{
    margin-top: 40px;
  }
  .titre{
    margin-bottom: 10px;
  }
  .carousel-indicators{
    opacity: 0.0;/*rend les puces invisible*/
  }
#loading1{
  transition: all 800ms ease;
  width: 90%;
  height: 29px;
  background: grey;
  padding-left: 2px;
  border-radius: 10px;

  animation: load 10s ease infinite;
}
#loading2{
  transition: all 800ms ease;
  width: 80%;
  height: 29px;
  background: grey;
  padding-left: 2px;
  border-radius: 10px;

  animation: load 10s ease infinite;
}
#loading3{
  transition: all 800ms ease;
  width: 40%;
  height: 29px;
  background: grey;
  padding-left: 2px;
  border-radius: 10px;

  animation: load 10s ease infinite;
}
#loading4{
  transition: all 800ms ease;
  width: 40%;
  height: 29px;
  background: grey;
  padding-left: 2px;
  border-radius: 10px;

  animation: load 10s ease infinite;
}
#loading5{
  transition: all 800ms ease;
  width: 35%;
  height: 29px;
  background: grey;
  padding-left: 2px;
  border-radius: 10px;

  animation: load 10s ease infinite;
}
.barre1{
  height: 35px;
  width: 90%;
  background-color: lightgrey;
  border-radius: 10px;
  margin-bottom: 40px;
  padding-top: 3px;
  box-shadow: 3px 3px black;
}
@keyframes load{
  0%{
    width: 1%;
  }
  10%{
    width: 10%;
  }
}
.comp{
  margin-left: 10px;
}
.comp, img{
margin-right: 15px;
margin-left: 10px;
float: right;
}
.titre2{
  margin-bottom: 25px;
}
.titer{
  margin-bottom: 30px;
}
.lien{
  margin-bottom: 20px;
}
